()
(let ((blue "#1f67bf")
      (white "#f6fcfc")
      (sans "Arial, Helvetica, sans-serif"))
  `((body
     (font-family ,sans)
     (font-size "2em")
     (color ,white)
     (background-color ,blue))
    (.error
     (width "50%")
     (height "auto") (margin "auto")
     (max-height "15em")
     (line-height "1.4em")
     (position "absolute")
     (top 0) (left 0) (bottom 0) (right 0))
    ((// .smiley)
     (font-size "5em")
     (margin-bottom "0.5em"))
    ((// .message)
     (margin "1em" 0)
     (line-height "1.3em")
     (font-size "0.5em"))
    (media
     "(max-width: 800px)"
     (body
      (font-size "1em"))
     (.error
      (width "initial")
      (line-height "initial")
      (margin "3em 3em auto 3em"))
     ((// .message)
      (font-size "0.9em")))))
